<div class="color">
	<div class="container" id="width">
		<div class="row header">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<nav class="navbar navbar-expand-lg ">
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav d-flex justify-content-start">
							<li class="nav-item">
								<a class="nav-link" href="#">Trang chủ</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="">Chợ Đồ Cổ</a>
							</li>
							<li class="nav-item">
								<a [routerLink]='["/tuvan"]' routerLinkActive="active" class="nav-link">Tư Vấn Chơi Đồ Cổ </a>
							</li>

						</ul>

						<a class="navbar-brand tieude" href="#">
							<h3 id="logo">Thế Giới Đồ Cổ</h3>
						</a>
						<form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2" type="Search" placeholder="Nhập từ khóa cần tìm" aria-label="Search">
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm Kiếm</button>
						</form>

					</div>


				</nav>
			</div>
		</div>
	</div><!-- end thanh menu -->
</div><br>
<!-- <app-slide></app-slide>
<app-shopping></app-shopping> -->
<router-outlet></router-outlet>
<br>
<div class="color">
	<div class="container" id="width">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="row" id="mau">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<p></p>
						<p><a href="#" style="color: white"> Giới thiệu Công Ty</a> </p>
						<p><a href="#" style="color: white"> Câu hỏi thường gặp</a></p>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<h6>Liên Hệ: TRẦN NGỌC TRIỆU</h6>
						<p>Facebook: TRIỆU TRIỆU</p>
						<p>Sdt: 0769843242</p>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<p>Made by : Lê Long Toàn</p>
						<p>Email: longtoan.0308@gmail.com</p>
						<p>Facebook: Toan Le</p>
						<p>Sdt 0356763706</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
