 <app-slide></app-slide>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><br>
			<h1 style="color:blue" class="text-center"> Danh Mục Sản Phẩm</h1>
			<hr>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngFor="let p of shopping">
								<!-- bs3-thumbnail:content-->
								<div class="thumbnail text-center">
									<img src="{{p.imageUrl}}" alt="">
									<div class="caption">
										<i style="color:crimson">
											<h5>{{p.Name}}</h5>
										</i>
										<p>
											<button class="btn btn-success">
												<a href="detel/{{p.Id}}"><i class="fa fa-shopping-cart" style="font-size:20px" style="color:ghostwhite">   MUA HÀNG</i></a>
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>