<app-slide></app-slide>
<h1 class="text-center" style="color:crimson">
  Giá Trị Đồ cổ được xác định nhờ những yếu tố nào
</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h6>Lấy ví dụ cụ thể như các món đồ bên ngạch đồ gỗ cổ
         , đồ gỗ xưa của mình . Một món đồ ở mức giá thấp thì 
         tất nhiên chất lượng món đồ đó cũng rất tệ , bộ ghế trường kỷ hay một bức tranh khảm ốc ở tầm tiền thấp thì phần gỗ sẽ chẳng lành nặn , 
         phần đục chạm thì cũng ở mức đồ làng nhàng và phần cẩn ốc thì sẽ chẳng đâu vào đâu</h6>
         <p>Hiện nay rất nhiều nhà sưu tầm và giao lưu cổ ngoạn đưa ra giá trên một sản phẩm đồ cổ , đồ xưa rất khác nhau, làm bối rối người sưu tầm , không biết chất lượng sản phẩm như thế nào, giá đồ cổ , đồ xưa có phù hợp với chất lượng của những món đồ đó không ? Phạm Thành Trung xin nêu ra một vài trường hợp về giá các loại cổ vật , đồ xưa để các Bác biết đâu là chất lượng mình cần và giá quý vật có phù hợp với chất lượng quý vật đó không.

            Thứ nhất giá rất thấp – do chất lượng kém : những lái buôn , nhà sưu tầm hay cửa hàng giao lưu phục vụ cho thị trường chơi dòng đồ thường , hàng chợ hay phục vụ cho những quán cà phê đồ cổ , xưa ở các tỉnh, chỉ cần giá món đồ rẻ và dùng được. Với nhóm mua bán hàng đồ xưa này họ không quan tâm đến việc chất lượng món đồ trong quá trình sử dụng của người chơi , họ chỉ quan tâm tới giá cả . Mặc sức cho những cửa hàng bán đồ ở phân khúc thị trường này đua nhau giảm giá và chất lượng món đồ và điều tất lẽ dĩ nhiên là chất lượng sản phẩm giảm đến mức có thể gây hư hại cho món đồ và không gian chơi đồ của bạn bất cứ lúc nào. Đây Sự thật của việc bán giá đồ xưa giá thấp!
            Đây là Ghế Trúc Đơn Hàng Chợ , Xương Khung , chân ghế làm rất to và thô , không có độ cong mềm mại và nét đục chạm không đẹp .
            
            Lấy ví dụ cụ thể như các món đồ bên ngạch đồ gỗ cổ , đồ gỗ xưa của mình . Một món đồ ở mức giá thấp thì tất nhiên chất lượng món đồ đó cũng rất tệ , bộ ghế trường kỷ hay một bức tranh khảm ốc ở tầm tiền thấp thì phần gỗ sẽ chẳng lành nặn , phần đục chạm thì cũng ở mức đồ làng nhàng và phần cẩn ốc thì sẽ chẳng đâu vào đâu , họ sẽ lấp liếm đi những lỗi của sản phẩm . Những món hàng này mình không bao giờ mua , vì mình xác định đồ của mình là vừa chơi vừa giao lưu . Đồ mình giao lưu là mình phải mê mẩn , phải thích trước đã , rồi sẽ tính tới chuyện giao lưu lại cho những Bác có chung đam mê .
            
            Thứ hai – giá quá cao : Giao lưu cổ ngoạn với giá quá cao so với thị trường. Về mặt chất lượng thì có thể đạt yêu cầu cho những người sưu tầm . Vậy điều gì khiến những món đồ ở đây cao ngất ngưỡng như vậy? Mình đã có rất nhiều kinh nghiệm sưu tầm nên mình hiểu rất rõ những nguyên nhân này .
            Giá giao lưu quá cao vì giá khi mua về đã quá cao : Rất nhiều Bác khi đi sưu tầm đồ , mua theo kiểu mua bằng được , mua để thể hiện mình dám mua , dám xuống tiền những món hàng lớn , mua để thể hiện là mình mua giá cao nhất để lần sau có hàng lái buôn lại gọi mình . Đó là cách mua bán không lâu dài được . Nếu gặp những trường hợp như thế thì thật không may cho các Bác .
            Ghế Trúc Đơn hàng đẹp , xương khung làm cân đối , chân và tựa làm với độ cong mềm mại , nét đục chạm rất tinh tế .
            
            Giá quá cao do Chi phí đi sưu tầm quá lớn : Nghề chơi cũng lắm công phu , các cụ xưa đã dậy , việc đi mua đồ cổ , đồ xưa cũng giống như đi mua các mặt hàng kinh doanh khác , tất cả các chi phí ta đều phải tính vào giá của quý vật đó . Việc giảm bớt chi phí là điều rất quan trọng . Mình luôn tối ưu hóa các khoản chi phí đó để quy ra giá món đồ mua được với giá hợp lý nhất .
            Và Giá quá cao do người bán không lắm được giá, trường hợp này mình gặp rất nhiều , đặc biệt là khi mua trong nhà dân . Cách xử lý của mình là ghi số điện thoại hoặc dán card điện thoại của mình vào chỗ kín của Món đồ đó và nói với chủ nhà , khi nào bán giá hợp lý hơn thì gọi cho mình .
            
            Giá món đồ cao vì “hữu xạ tự nhiên hương”. Một số nhà sưu tầm đã có thương hiệu trong giới sưu tầm , người ta muốn đẩy giá món đồ lên cao để “xứng tầm thương hiệu” của họ.
            
            Thứ ba, giao lưu đồ cổ , đồ xưa với giá hợp lý : chất lượng món đồ được đảm bảo , bảo hành tuyệt đối cho mọi người chơi .Bên mình tối ưu hóa mọi chi phí và với kinh nghiệm về đồ cũng như kinh nghiệm thương trường , mình luôn cố gắng mua được giá tốt nhất để giao lưu cùng các Bác .Với tiêu chí mọi người chơi cùng có lợi , những món đồ xưa , đồ tái già của mình đều được mình lựa chọn rất kỹ , đẹp , nên các Bác mua về chơi là đúng lối đồ , sau vài chục năm thành đồ cổ . Giá trị sẽ tăng cao rất nhiều .</p>
    </div>
  </div>
</div>
<hr>